---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/667257/reviews?api_key=DONT SHOW MY API
      KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - 89d500eb649699b4f9da44efd06c367bfcb058ac
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '14861'
      Last-Modified:
      - Sun, 24 Jul 2022 17:45:44 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"id":667257,"page":1,"results":[],"total_pages":0,"total_results":0}'
  recorded_at: Tue, 25 Oct 2022 15:21:54 GMT
recorded_with: VCR 6.1.0
