<section id="current_users" class="d-flex justify-content-center align-items-center flex-column">
  <% unless session[:user_id] %>
    <h1 class="text-light">Please login or register</h1>
  <% end %>
</section>