---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/36600?api_key=DONT SHOW MY API KEY&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 2d4c0e64dbf6164209c97df60fbf699170be3080
      X-Memc-Age:
      - '8570'
      X-Memc-Expires:
      - '8969'
      Etag:
      - W/"9984d38dfcc754247bea24cc29959895"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/e9n0sDkXTPz8CLXBEK1uo6janh3.jpg","belongs_to_collection":null,"budget":0,"genres":[{"id":27,"name":"Horror"},{"id":53,"name":"Thriller"}],"homepage":"","id":36600,"imdb_id":"tt0068596","original_language":"en","original_title":"The
        Flesh and Blood Show","overview":"Actors rehearsing a show at a mysterious
        seaside theater are being killed off by an unknown maniac.","popularity":2.703,"poster_path":"/4KNjXNOxareROutLC8WH9fMz2W1.jpg","production_companies":[{"id":17102,"logo_path":null,"name":"Peter
        Walker (Heritage) Ltd.","origin_country":""}],"production_countries":[{"iso_3166_1":"GB","name":"United
        Kingdom"},{"iso_3166_1":"US","name":"United States of America"}],"release_date":"1972-10-01","revenue":0,"runtime":93,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"An
        appalling amalgam of carnage and carnality...","title":"The Flesh and Blood
        Show","video":false,"vote_average":5.667,"vote_count":24}'
  recorded_at: Mon, 24 Oct 2022 15:24:30 GMT
[...]
